*{
    margin: 0%;
    padding: 0%;

}
.hand{
    width: 24px;
   height: 24px;
   cursor: pointer;

}
#logo{
    width: 90px;
    height: 20px;
    cursor: pointer;
}
.search_icon{
    width: 24px;
    height: 24px;

}
.main_container{
    background-color: antiquewhite;
    width:536px ;
    height: 40px;
    border-radius: 40px;
    border-width:  1px ;
    border-style: solid;
    border-color: rgb(48 48 48);
    background-color: rgb(18 18 18);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search_txt{
    color: rgb(255 255 255 / 88%);
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight:400;
    background-color: transparent;
    border: none;
    border-style: none;
    outline: none;
    margin: 10px;
    padding: 5px;
    width: 90%;
}
.search_txt:focus + .search_close{
    display: block;
    

}
.search_txt:focus{
    border-color: rgb(0, 228, 228);
}
.search_button{
    background-color: rgb(255 255 255 / 8%);
    border-style: none;
    width: 64px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
}

.mic{
    width: 40px;
    height: 40px;
    background-color: rgba(70, 70, 70, 0.612) ;
    color: rgb(0, 48, 90);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon_container{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:  transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon_container:hover{
    background-color:rgba(70, 70, 70, 0.612);
    cursor: pointer;
}
.T_icon{
    width: 24px;
    height: 24px;
}
.side_i_container{
    width: 64px;
    height: 74px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.search_close{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    display: none;
}
.side_i_container:hover{
    background-color:rgba(240, 248, 255, 0.116) ;
    cursor: pointer;
}
.s_icon{
    width: 24px;
    height: 24px;
}
.s_txt{
    font-size: 10px;
    font-weight: 500;
    color: white;
    margin-top: 3px;
}
.filter_container{
    height: 8px;
    width:fit-content;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.189);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 12px;

}
.filter_container:hover{
    background-color: rgba(255, 255, 255, 0.297);

}
.filter_text{
    font-size: 14px;
    font-weight: 500;
    color: white;
    

}
.toggle_container{
    background-color: rgba(247, 247, 247, 0.144);
    width: 204px;
    height: 40px;
    display: flex;
    margin: 12px;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    cursor: pointer;
}
.toggle_icon{
    width: 24px;
    height: 24px;
    padding: 12px;
}
.toggle_container:hover{
    background-color:rgba(247, 247, 247, 0.267) ;

}
.toggle_text{
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding: 10px;
}
.lable_txt{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 4px;
}
.video_container{
    width:370;
    height: 348px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_details_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:370px ;
    cursor: pointer;
}
.video_thumbnail{
        height: 208px;
        width: 370px;
        border-radius: 10px;
}
.video_thumbnail:hover{
    border-radius: 0%;
    cursor: pointer;
    transform: scale(1.003);
}
.video_profile{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-top: 10px;
}
.video_more{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.video_txt_container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 140px;
}
.video_title{
    font-size: 16px;
    font-weight: 500;

}
.video_Channel_name{
    font-size: 14px;
    color: rgba(241, 241, 241, 0.712);
}
.views_and_time{
    color:rgba(241, 241, 241, 0.712) ;
    font-size: 14px;
   
}
.views{
    margin-right: 5px;
}
abbr{
    width: 100%;
}